<?xml version="1.0" encoding="utf-8"?>
<unattend xmlns="urn:schemas-microsoft-com:unattend" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State">
    <settings pass="windowsPE">
        <component name="Microsoft-Windows-International-Core-WinPE" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS">
            <SetupUILanguage>
                <UILanguage>ru-RU</UILanguage>
            </SetupUILanguage>
            <InputLocale>0419:00000419;0409:00000409</InputLocale>
            <SystemLocale>ru-RU</SystemLocale>
            <UILanguage>ru-RU</UILanguage>
            <UserLocale>ru-RU</UserLocale>
        </component>
        <component name="Microsoft-Windows-Setup" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS">
            <DiskConfiguration>
                <WillWipeDisk>false</WillWipeDisk>
                <Disk wcm:action="add">
                    <DiskID>0</DiskID>
                    <WillWipeDisk>false</WillWipeDisk>
                    <!--
                        Диск уже размечен скриптом deploy.sh в режиме prep-disk:
                        p1=EFI, p2=MSR, p3=Windows, p4=Recovery, p5=Shared,
                        p6=UbuntuRoot, p7=UbuntuHome. Разделы Windows (p3)
                        переформатируются в NTFS, остальные не трогаем.
                    -->
                    <ModifyPartitions>
                        <ModifyPartition wcm:action="add">
                            <Order>1</Order>
                            <PartitionID>__WIN_PARTITION_ID__</PartitionID>
                            <Format>NTFS</Format>
                            <Label>Windows</Label>
                            <Letter>C</Letter>
                            <Extend>false</Extend>
                        </ModifyPartition>
                    </ModifyPartitions>
                </Disk>
            </DiskConfiguration>
            <ImageInstall>
                <OSImage>
                    <InstallFrom>
                        <MetaData wcm:action="add">
                            <Key>/IMAGE/INDEX</Key>
                            <Value>__WIN_IMAGE_INDEX__</Value>
                        </MetaData>
                    </InstallFrom>
                    <InstallTo>
                        <DiskID>0</DiskID>
                        <PartitionID>__WIN_PARTITION_ID__</PartitionID>
                    </InstallTo>
                    <WillShowUI>OnError</WillShowUI>
                </OSImage>
            </ImageInstall>
            <UserData>
                <AcceptEula>true</AcceptEula>
                <FullName>__USERNAME__</FullName>
                <Organization>__HOSTNAME__</Organization>
            </UserData>
        </component>
    </settings>
    <settings pass="specialize">
        <component name="Microsoft-Windows-Shell-Setup" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS">
            <ComputerName>__HOSTNAME__</ComputerName>
            <TimeZone>__WIN_TIMEZONE__</TimeZone>
        </component>
        <component name="Microsoft-Windows-Security-SPP-UX" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS">
            <SkipAutoActivation>true</SkipAutoActivation>
        </component>
        <component name="Microsoft-Windows-Deployment" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS">
            <RunSynchronous>
                <!-- 1. Синхронизация часов через UTC (часы не сбиваются с Linux) -->
                <RunSynchronousCommand wcm:action="add" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State">
                    <Order>1</Order>
                    <Path>reg add "HKLM\SYSTEM\CurrentControlSet\Control\TimeZoneInformation" /v RealTimeIsUniversal /t REG_DWORD /d 1 /f</Path>
                    <Description>Set Hardware Clock to UTC</Description>
                </RunSynchronousCommand>
                <!-- 2. Отключение Fast Startup (защита дисков от блокировки при перезагрузке в Linux) -->
                <RunSynchronousCommand wcm:action="add" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State">
                    <Order>2</Order>
                    <Path>powercfg /h off</Path>
                    <Description>Disable Fast Startup and Hibernation</Description>
                </RunSynchronousCommand>
                <!-- 3. Отключение BitLocker Device Encryption -->
                <RunSynchronousCommand wcm:action="add" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State">
                    <Order>3</Order>
                    <Path>reg add "HKLM\SYSTEM\CurrentControlSet\Control\BitLocker" /v PreventDeviceEncryption /t REG_DWORD /d 1 /f</Path>
                    <Description>Prevent Auto BitLocker</Description>
                </RunSynchronousCommand>
            </RunSynchronous>
        </component>
    </settings>
    <settings pass="oobeSystem">
        <component name="Microsoft-Windows-Shell-Setup" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS">
            <OOBE>
                <HideEULAPage>true</HideEULAPage>
                <HideLocalAccountScreen>true</HideLocalAccountScreen>
                <HideOEMRegistrationScreens>true</HideOEMRegistrationScreens>
                <HideOnlineAccountScreens>true</HideOnlineAccountScreens>
                <HideWirelessSetupInOOBE>true</HideWirelessSetupInOOBE>
                <NetworkLocation>Work</NetworkLocation>
                <ProtectYourPC>3</ProtectYourPC>
            </OOBE>
            <UserAccounts>
                <LocalAccounts>
                    <LocalAccount wcm:action="add" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State">
                        <Name>__USERNAME__</Name>
                        <DisplayName>__USERNAME__</DisplayName>
                        <Group>Administrators</Group>
                        <Password>
                            <Value>__WIN_PASSWORD__</Value>
                            <PlainText>true</PlainText>
                        </Password>
                    </LocalAccount>
                </LocalAccounts>
            </UserAccounts>
            <AutoLogon>
                <Enabled>true</Enabled>
                <Username>__USERNAME__</Username>
                <Password>
                    <Value>__WIN_PASSWORD__</Value>
                    <PlainText>true</PlainText>
                </Password>
            </AutoLogon>
            <FirstLogonCommands>
                <!-- Телеметрия: минимум для Home/Pro (уровень 0/Security доступен только Enterprise/Education) -->
                <SynchronousCommand wcm:action="add">
                    <Order>1</Order>
                    <CommandLine>reg add "HKLM\SOFTWARE\Policies\Microsoft\Windows\DataCollection" /v AllowTelemetry /t REG_DWORD /d 0 /f</CommandLine>
                    <Description>Disable Telemetry</Description>
                </SynchronousCommand>
                <SynchronousCommand wcm:action="add">
                    <Order>2</Order>
                    <CommandLine>reg add "HKLM\SOFTWARE\Policies\Microsoft\Windows\DataCollection" /v DoNotShowFeedbackNotifications /t REG_DWORD /d 1 /f</CommandLine>
                    <Description>Disable Feedback Notifications</Description>
                </SynchronousCommand>
                <!-- Реклама и «рекомендации»: Win10 (ContentDeliveryManager) + Win11 (Start_IrisRecommendations) -->
                <SynchronousCommand wcm:action="add">
                    <Order>3</Order>
                    <CommandLine>reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\ContentDeliveryManager" /v SystemPaneSuggestionsEnabled /t REG_DWORD /d 0 /f</CommandLine>
                    <Description>Disable Start Suggestions (Win10)</Description>
                </SynchronousCommand>
                <SynchronousCommand wcm:action="add">
                    <Order>4</Order>
                    <CommandLine>reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\ContentDeliveryManager" /v SilentInstalledAppsEnabled /t REG_DWORD /d 0 /f</CommandLine>
                    <Description>Disable Silent App Installs</Description>
                </SynchronousCommand>
                <SynchronousCommand wcm:action="add">
                    <Order>5</Order>
                    <CommandLine>reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced" /v Start_IrisRecommendations /t REG_DWORD /d 0 /f</CommandLine>
                    <Description>Disable Start Recommendations (Win11)</Description>
                </SynchronousCommand>
                <!-- Удаление предустановленных UWP (bloatware): провижиненные пакеты + текущий профиль.
                     Список консервативный; Store/Calculator/Photos/Widgets НЕ трогать. -->
                <AsynchronousCommand wcm:action="add">
                    <Order>6</Order>
                    <CommandLine>powershell -NoProfile -ExecutionPolicy Bypass -Command "$log='C:\Windows\Temp\deploy-debloat.log'; $pat='^(Microsoft.BingNews|Microsoft.BingWeather|Microsoft.MicrosoftSolitaireCollection|Microsoft.WindowsFeedbackHub|Microsoft.Getstarted|Microsoft.GetHelp|Microsoft.MicrosoftOfficeHub|Microsoft.549981C3F5F10)$'; Get-AppxProvisionedPackage -Online | Where-Object { $_.DisplayName -match $pat } | ForEach-Object { $_.DisplayName | Out-File $log -Append; Remove-AppxProvisionedPackage -Online -PackageName $_.PackageName -ErrorAction SilentlyContinue | Out-Null }; Get-AppxPackage -AllUsers | Where-Object { $_.Name -match $pat } | Remove-AppxPackage -AllUsers -ErrorAction SilentlyContinue"</CommandLine>
                    <Description>Remove Bloatware (provisioned + all users)</Description>
                </AsynchronousCommand>
            </FirstLogonCommands>
        </component>
        <component name="Microsoft-Windows-International-Core" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS">
            <InputLocale>0419:00000419;0409:00000409</InputLocale>
            <SystemLocale>ru-RU</SystemLocale>
            <UILanguage>ru-RU</UILanguage>
            <UserLocale>ru-RU</UserLocale>
        </component>
    </settings>
</unattend>
